/* https://coolors.co/533747-5f506b-6a6b83-76949f-86bbbd */

.main {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 160px 400px;
    margin: 80px auto;
    gap: 24px;
}

.container {
    background-color: #533747;
    display: flex;
    padding: 20px;
    justify-content: center;
    grid-column: 1 / 3;
    border: 0;
    border-radius: 12px;
}

.control-panel, .score-card {
    display: grid;
    grid-template-rows: 40px 40px 100px;
    align-items: center;
    font-size: 1.2rem;
}

.control-panel {
    grid-column: 1 / 2;
}

.score-card {
    grid-column: 2 / 3;
}

#previous-round {
    display: flex;
    align-items: center;
}

img[src="icons/swords_icon.svg"] {
    height: 24px;
    aspect-ratio: 1 / 1;
}

button {
    color: white;
    background-color: #86BBBD;
    border:0;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
}

#reset {
    height: 66px;
    width: 88px;
    margin: 0;
    font-size: 1.2rem;
    background-color: #76949F;
}

#best-of-slider {
    -webkit-appearance: none;
    height: 24px;
    width: 160px;
    background: #5F506B;
    border: 0;
    border-radius: 24px;
}

#best-of-slider:hover {
    background: #533747;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}