.container {
    background-color: rgb(136, 0, 0);
    display: flex;
    padding: 20px;
    width: 80%;
    margin: 100px auto;
    justify-content: center;
}

button {
    display: flex;
    color: white;
    background-color: rgb(13, 90, 158);
    border:0;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
}

#reset {
    margin: 0 auto;
}

.scoreCard {
    height: max-content;
    padding-top: 4px;
    margin-left: 10%;
}